<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}在线课程作业管理系统{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
{% if user %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">在线课程作业管理系统</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="/dashboard">首页</a></li>
                {% if user.role == 'admin' %}
                <li class="nav-item"><a class="nav-link" href="/classes/">班级管理</a></li>
                <li class="nav-item"><a class="nav-link" href="/users/">用户管理</a></li>
                <li class="nav-item"><a class="nav-link" href="/courses/">课程管理</a></li>
                <li class="nav-item"><a class="nav-link" href="/questions/">题库管理</a></li>
                <li class="nav-item"><a class="nav-link" href="/questions/review">试题审核</a></li>
                <li class="nav-item"><a class="nav-link" href="/questions/library">题库维护</a></li>
                <li class="nav-item"><a class="nav-link" href="/homework/">作业管理</a></li>
                <li class="nav-item"><a class="nav-link" href="/homework/manage">作业批改</a></li>
                <li class="nav-item"><a class="nav-link" href="/homework/history">历史作业</a></li>
                {% endif %}
                {% if user.role == 'teacher' %}
                <li class="nav-item"><a class="nav-link" href="/courses/">课程管理</a></li>
                <li class="nav-item"><a class="nav-link" href="/questions/">题库管理</a></li>
                <li class="nav-item"><a class="nav-link" href="/questions/review">试题审核</a></li>
                <li class="nav-item"><a class="nav-link" href="/questions/library">题库维护</a></li>
                <li class="nav-item"><a class="nav-link" href="/homework/">作业管理</a></li>
                <li class="nav-item"><a class="nav-link" href="/homework/manage">作业批改</a></li>
                <li class="nav-item"><a class="nav-link" href="/homework/history">历史作业</a></li>
                {% endif %}
                {% if user.role == 'student' %}
                <li class="nav-item"><a class="nav-link" href="/questions/library">题库浏览</a></li>
                <li class="nav-item"><a class="nav-link" href="/homework/student">我的作业</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-person-circle"></i> {{ user.real_name or user.username }} ({{ user.role }})
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/auth/change_password">修改密码</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/auth/logout">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endif %}

<div class="container-fluid mt-3">
    <div class="row">
        {% if user %}
        <div class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="list-group list-group-flush mt-3">
                <a href="/dashboard" class="list-group-item list-group-item-action">首页仪表盘</a>
                {% if user.role == 'admin' %}
                <a href="/classes/" class="list-group-item list-group-item-action">班级管理</a>
                <a href="/users/" class="list-group-item list-group-item-action">用户管理</a>
                <a href="/courses/" class="list-group-item list-group-item-action">课程管理</a>
                <a href="/questions/" class="list-group-item list-group-item-action">题库管理</a>
                <a href="/questions/review" class="list-group-item list-group-item-action">试题审核</a>
                <a href="/questions/library" class="list-group-item list-group-item-action">题库维护</a>
                <a href="/homework/" class="list-group-item list-group-item-action">作业管理</a>
                <a href="/homework/manage" class="list-group-item list-group-item-action">作业批改</a>
                <a href="/homework/history" class="list-group-item list-group-item-action">历史作业</a>
                {% endif %}
                {% if user.role == 'teacher' %}
                <a href="/courses/" class="list-group-item list-group-item-action">课程管理</a>
                <a href="/questions/" class="list-group-item list-group-item-action">题库管理</a>
                <a href="/questions/review" class="list-group-item list-group-item-action">试题审核</a>
                <a href="/questions/library" class="list-group-item list-group-item-action">题库维护</a>
                <a href="/homework/" class="list-group-item list-group-item-action">作业管理</a>
                <a href="/homework/manage" class="list-group-item list-group-item-action">作业批改</a>
                <a href="/homework/history" class="list-group-item list-group-item-action">历史作业</a>
                {% endif %}
                {% if user.role == 'student' %}
                <a href="/questions/library" class="list-group-item list-group-item-action">题库浏览</a>
                <a href="/homework/student" class="list-group-item list-group-item-action">我的作业</a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-10">
        {% else %}
        <div class="col-md-12">
        {% endif %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
